<div>
    <h4 class="ttext-primary pt3">Another Child Component</h4>
    <input id="roomName" @attributes="InputAttributes" placeholder="Initial Text" class="form-control" />
</div>

@code {
    @* [Parameter]
    public string Placeholder { get; set; } *@
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string,object> InputAttributes { get; set; } = new Dictionary<string, object>();
}